Repository aws/jsii, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix(java): remove Jackson confusion with certain patterns
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiObjectMapper.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJackson.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJackson.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Some renames and token translations for C#
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/test/translations/calls/declaring_default_arguments.cs
  packages/jsii-rosetta/test/translations/calls/declaring_default_arguments.py
  packages/jsii-rosetta/test/translations/calls/declaring_default_arguments.ts
  packages/jsii-rosetta/test/translations/calls/default_struct_fields.cs
  packages/jsii-rosetta/test/translations/calls/default_struct_fields.py
  packages/jsii-rosetta/test/translations/calls/default_struct_fields.ts
  packages/jsii-rosetta/test/translations/calls/function_call.cs
  packages/jsii-rosetta/test/translations/calls/list_of_anonymous_structs.cs
  packages/jsii-rosetta/test/translations/calls/list_of_anonymous_structs.py
  packages/jsii-rosetta/test/translations/calls/list_of_anonymous_structs.ts
  packages/jsii-rosetta/test/translations/calls/literal_map_argument.cs
  packages/jsii-rosetta/test/translations/calls/literal_map_argument.py
  packages/jsii-rosetta/test/translations/calls/literal_map_argument.ts
  packages/jsii-rosetta/test/translations/calls/method_call.cs
  packages/jsii-rosetta/test/translations/calls/self_method_call.cs
  packages/jsii-rosetta/test/translations/calls/self_method_call.py
  packages/jsii-rosetta/test/translations/calls/self_method_call.ts
  packages/jsii-rosetta/test/translations/calls/static_function_call.cs
  packages/jsii-rosetta/test/translations/calls/this_argument.cs
  packages/jsii-rosetta/test/translations/calls/this_argument.py
  packages/jsii-rosetta/test/translations/calls/this_argument.ts
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_in_function_call.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_in_function_call.ts
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_only_one_level_deep.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_only_one_level_deep.ts
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_second_level_with_newlines.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_second_level_with_newlines.ts
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_with_multiple_newlines.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_with_newlines.cs
  packages/jsii-rosetta/test/translations/calls/will_type_deep_structs_directly_if_type_info_is_available.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

add test specifically on structs
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJackson.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJackson.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJacksonStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix(java): remove Jackson confusion with certain patterns (#987)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiObjectMapper.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJackson.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJackson.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJacksonStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix(java): handle null-able collections correctly (#986)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJackson.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/DisappointingCollectionSource.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJackson.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/DisappointingCollectionSource.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/Statics.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Working on the .NET translator
  packages/jsii-rosetta/lib/jsii/jsii-utils.ts
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/languages/default.ts
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/lib/languages/python.ts
  packages/jsii-rosetta/lib/languages/visualize.ts
  packages/jsii-rosetta/lib/renderer.ts
  packages/jsii-rosetta/lib/typescript/types.ts
  packages/jsii-rosetta/lib/util.ts
  packages/jsii-rosetta/test/translations/calls/declaring_default_arguments.cs
  packages/jsii-rosetta/test/translations/calls/default_struct_fields.cs
  packages/jsii-rosetta/test/translations/calls/list_of_anonymous_structs.cs
  packages/jsii-rosetta/test/translations/calls/literal_map_argument.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_only_one_level_deep.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_second_level_with_newlines.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_with_multiple_newlines.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_with_newlines.cs
  packages/jsii-rosetta/test/translations/calls/will_type_deep_structs_directly_if_type_info_is_available.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

Indentation is still a little weird but at least everything passes
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/test/translations/calls/list_of_anonymous_structs.cs
  packages/jsii-rosetta/test/translations/calls/translate_object_literals_with_newlines.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

Adding a whole bunch of other tests for C#
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/test/translations/empty_class/EmptyClass.cs
  packages/jsii-rosetta/test/translations/misc/booleans_render_to_right_primitives.cs
  packages/jsii-rosetta/test/translations/statements/block_without_braces.cs
  packages/jsii-rosetta/test/translations/statements/empty_control_block.cs
  packages/jsii-rosetta/test/translations/statements/for_of_loop.cs
  packages/jsii-rosetta/test/translations/statements/if.cs
  packages/jsii-rosetta/test/translations/statements/if_then_else.cs
  packages/jsii-rosetta/test/translations/statements/multiline_if_then_else.cs
  packages/jsii-rosetta/test/translations/statements/whitespace_between_statements.cs
  packages/jsii-rosetta/test/translations/statements/whitespace_between_statements_in_a_block.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

Got comments tests working
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/languages/default.ts
  packages/jsii-rosetta/lib/typescript/ast-utils.ts
  packages/jsii-rosetta/test/translations/comments/empty_lines_in_comments.cs
  packages/jsii-rosetta/test/translations/comments/interleave_multiline_comments_with_function_call.cs
  packages/jsii-rosetta/test/translations/comments/interleave_single_line_comments_with_function_call.cs
  packages/jsii-rosetta/test/translations/comments/no_duplication_of_comments.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

fix(python): dynamic proxies handling of setters
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IObjectWithProperty.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IObjectWithPropertyProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ObjectWithPropertyProvider.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/IObjectWithProperty.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ObjectWithPropertyProvider.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/src/jsii/_reference_map.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Hope I didn't brake things
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/languages/default.ts
  packages/jsii-rosetta/lib/languages/python.ts
  packages/jsii-rosetta/lib/renderer.ts
  packages/jsii-rosetta/lib/typescript/ast-utils.ts
  packages/jsii-rosetta/lib/typescript/types.ts
  packages/jsii-rosetta/test/translations/expressions/as_expression.cs
  packages/jsii-rosetta/test/translations/expressions/backtick_string_w_o_substitutions.cs
  packages/jsii-rosetta/test/translations/expressions/double_quoted_dict_keys.cs
  packages/jsii-rosetta/test/translations/expressions/ellipsis_at_a_random_place.cs
  packages/jsii-rosetta/test/translations/expressions/non_null_expression.cs
  packages/jsii-rosetta/test/translations/expressions/prefix_unary_expression.cs
  packages/jsii-rosetta/test/translations/expressions/string_interpolation.cs
  packages/jsii-rosetta/test/translations/expressions/struct_assignment.cs
  packages/jsii-rosetta/test/translations/expressions/struct_assignment.py
  packages/jsii-rosetta/test/translations/expressions/struct_assignment.ts
  packages/jsii-rosetta/test/translations/statements/for_of_loop.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

feat(jsii-config): Adds jsii-config Package
  packages/jsii-config/.eslintrc.yaml
  packages/jsii-config/.gitignore
  packages/jsii-config/.npmignore
  packages/jsii-config/LICENSE
  packages/jsii-config/bin/jsii-config
  packages/jsii-config/bin/jsii-config.ts
  packages/jsii-config/lib/index.ts
  packages/jsii-config/lib/prompt.ts
  packages/jsii-config/lib/questions.ts
  packages/jsii-config/lib/schema.ts
  packages/jsii-config/lib/util.ts
  packages/jsii-config/package.json
  packages/jsii-config/test/__snapshots__/index.test.js.snap
  packages/jsii-config/test/index.test.ts
  packages/jsii-config/test/util.ts
  packages/jsii-config/tsconfig.json
Owners: @aws/aws-cdk-team

Actually, you did break things Rico
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/typescript/types.ts
  packages/jsii-rosetta/test/translations/expressions/double_quoted_dict_keys.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

Small refactorings of the Java translation skeleton.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/classes/empty_class.cs
  packages/jsii-rosetta/test/translations/classes/empty_class.java
  packages/jsii-rosetta/test/translations/classes/empty_class.py
  packages/jsii-rosetta/test/translations/classes/empty_class.ts
  packages/jsii-rosetta/test/translations/empty_class/EmptyClass.cs
  packages/jsii-rosetta/test/translations/empty_class/EmptyClass.java
  packages/jsii-rosetta/test/translations/empty_class/EmptyClass.py
  packages/jsii-rosetta/test/translations/empty_class/EmptyClass.ts
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Implemented simple inheritance for Java classes.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/classes/class_with_inheritance.java
Owners: @aws/aws-cdk-team, @bmaizels

Handle the 'implements' keyword in the Java translator.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/classes/class_with_extends_and_implements.java
  packages/jsii-rosetta/test/translations/classes/class_with_extends_and_implements.ts
Owners: @aws/aws-cdk-team, @bmaizels

Implement method declarations (with only print statements).
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/classes/class_with_method.java
Owners: @aws/aws-cdk-team, @bmaizels

Correctly derive map type from object literal.
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/languages/default.ts
  packages/jsii-rosetta/lib/typescript/types.ts
  packages/jsii-rosetta/test/translations/expressions/double_quoted_dict_keys.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

C# imports
  packages/jsii-rosetta/test/translations/imports/import_require.cs
  packages/jsii-rosetta/test/translations/imports/import_require.py
  packages/jsii-rosetta/test/translations/imports/import_require.ts
  packages/jsii-rosetta/test/translations/imports/import_star_as.cs
  packages/jsii-rosetta/test/translations/imports/import_star_as.py
  packages/jsii-rosetta/test/translations/imports/import_star_as.ts
  packages/jsii-rosetta/test/translations/imports/selective_import.cs
  packages/jsii-rosetta/test/translations/imports/selective_import.py
  packages/jsii-rosetta/test/translations/imports/selective_import.ts
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

Classes
  packages/jsii-rosetta/test/translations/classes/class_declaration_with_private_fields_and_constructor.cs
  packages/jsii-rosetta/test/translations/classes/class_declaration_with_private_fields_and_constructor.py
  packages/jsii-rosetta/test/translations/classes/class_declaration_with_private_fields_and_constructor.ts
  packages/jsii-rosetta/test/translations/classes/class_declaration_with_public_fields_and_constructor.cs
  packages/jsii-rosetta/test/translations/classes/class_declaration_with_public_fields_and_constructor.py
  packages/jsii-rosetta/test/translations/classes/class_declaration_with_public_fields_and_constructor.ts
  packages/jsii-rosetta/test/translations/classes/class_with_extends_and_implements.cs
  packages/jsii-rosetta/test/translations/classes/class_with_inheritance.cs
  packages/jsii-rosetta/test/translations/classes/class_with_inheritance_and_super_class.cs
  packages/jsii-rosetta/test/translations/classes/class_with_method.cs
  packages/jsii-rosetta/test/translations/classes/class_with_props_argument.cs
  packages/jsii-rosetta/test/translations/classes/class_with_props_argument.ts
  packages/jsii-rosetta/test/translations/classes/invisible_interfaces_do_not_affect_whitespace.cs
  packages/jsii-rosetta/test/translations/classes/whitespace_between_multiple_empty_members.cs
  packages/jsii-rosetta/test/translations/classes/whitespace_between_multiple_members.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

All C# tests pass
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/languages/default.ts
  packages/jsii-rosetta/lib/languages/python.ts
  packages/jsii-rosetta/lib/renderer.ts
  packages/jsii-rosetta/lib/typescript/ast-utils.ts
  packages/jsii-rosetta/lib/util.ts
  packages/jsii-rosetta/test/translations/hiding/hide_block_level_statements_using_void_directive.cs
  packages/jsii-rosetta/test/translations/hiding/hide_expression_with_explicit_ellipsis.cs
  packages/jsii-rosetta/test/translations/hiding/hide_halfway_into_class_using_comments.cs
  packages/jsii-rosetta/test/translations/hiding/hide_parameter_sequence.cs
  packages/jsii-rosetta/test/translations/hiding/hide_statements_with_explicit_ellipsis.cs
  packages/jsii-rosetta/test/translations/hiding/hide_top_level_statements_using_void_directive.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

All C# tests pass
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/languages/default.ts
  packages/jsii-rosetta/lib/languages/python.ts
  packages/jsii-rosetta/lib/languages/visualize.ts
  packages/jsii-rosetta/lib/renderer.ts
  packages/jsii-rosetta/lib/typescript/ast-utils.ts
  packages/jsii-rosetta/lib/util.ts
  packages/jsii-rosetta/test/translations/hiding/hide_block_level_statements_using_void_directive.cs
  packages/jsii-rosetta/test/translations/hiding/hide_expression_with_explicit_ellipsis.cs
  packages/jsii-rosetta/test/translations/hiding/hide_halfway_into_class_using_comments.cs
  packages/jsii-rosetta/test/translations/hiding/hide_parameter_sequence.cs
  packages/jsii-rosetta/test/translations/hiding/hide_statements_with_explicit_ellipsis.cs
  packages/jsii-rosetta/test/translations/hiding/hide_top_level_statements_using_void_directive.cs
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

Update failing jsii-packmak tests.
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ClassWithDocs.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/NamespaceDoc.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ClassWithDocs.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/package-info.java
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Add Top Level Package Config Prompts
  packages/jsii-config/lib/index.ts
  packages/jsii-config/lib/prompt.ts
  packages/jsii-config/lib/questions.ts
  packages/jsii-config/lib/schema.ts
  packages/jsii-config/lib/util.ts
  packages/jsii-config/test/__snapshots__/index.test.js.snap
  packages/jsii-config/test/index.test.ts
  packages/jsii-config/test/util.ts
Owners: @aws/aws-cdk-team

Add Documentation
  docs/configuration.md
  packages/jsii-config/README.md
  packages/jsii-config/lib/index.ts
  packages/jsii-config/lib/schema.ts
  packages/jsii-config/package.json
  packages/jsii-config/test/__snapshots__/index.test.js.snap
  packages/jsii-config/test/index.test.ts
Owners: @aws/aws-cdk-team

Add Configuration to Spec
  packages/jsii-config/bin/jsii-config.ts
  packages/jsii-config/lib/index.ts
  packages/jsii-config/lib/prompt.ts
  packages/jsii-config/lib/schema.ts
  packages/jsii-config/lib/util.ts
  packages/jsii-config/lib/validate.ts
  packages/jsii-config/package.json
  packages/jsii-config/test/__snapshots__/index.test.js.snap
  packages/jsii-config/test/index.test.ts
  packages/jsii-spec/lib/configuration.ts
  packages/jsii-spec/lib/index.ts
  yarn.lock
Owners: @aws/aws-cdk-team

Implement Java constructor.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/classes/class_with_inheritance_and_super_class.java
Owners: @aws/aws-cdk-team, @bmaizels

Update Java documentation.
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/package-info.java
Owners: @aws/aws-cdk-team, @bmaizels

Improve Prompt Messaging
  packages/jsii-config/lib/schema.ts
  packages/jsii-config/test/__snapshots__/index.test.js.snap
  packages/jsii-config/test/index.test.ts
Owners: @aws/aws-cdk-team

Add Demo Gif to Readme
  packages/jsii-config/demo.gif
Owners: @aws/aws-cdk-team

Implement public properties as fields in Java.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/classes/class_declaration_with_public_fields_and_constructor.java
Owners: @aws/aws-cdk-team, @bmaizels

Remove Snapshot Tests
  packages/jsii-config/test/__snapshots__/index.test.js.snap
  packages/jsii-config/test/index.test.ts
Owners: @aws/aws-cdk-team

Private properties as fields work as well.
  packages/jsii-rosetta/test/translations/classes/class_declaration_with_private_fields_and_constructor.java
Owners: @aws/aws-cdk-team, @bmaizels

Calls with boolean parameters work for free.
  packages/jsii-rosetta/test/translations/misc/booleans_render_to_right_primitives.java
Owners: @aws/aws-cdk-team, @bmaizels

Implement 'if' (without 'else').
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/statements/if.java
Owners: @aws/aws-cdk-team, @bmaizels

Implement 'else' part of 'if'.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/statements/if_then_else.java
Owners: @aws/aws-cdk-team, @bmaizels

Revert "chore(deps): bump yargs from 14.2.0 to 15.0.1 (#993)"
  packages/jsii-diff/package.json
  packages/jsii-pacmak/package.json
  packages/jsii-reflect/package.json
  packages/jsii-rosetta/package.json
  packages/jsii/package.json
  yarn.lock
Owners: @aws/aws-cdk-team

fix(jsii): unable to depend on modules with private declarations
  packages/jsii/lib/compiler.ts
Owners: @aws/aws-cdk-team

fix(jsii): unable to depend on modules with private declarations (#995)
  packages/jsii/lib/compiler.ts
Owners: @aws/aws-cdk-team

Fix incorrect struct type derivation inside assignment
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/languages/default.ts
  packages/jsii-rosetta/test/translations/structs/var_new_class_known_struct.cs
  packages/jsii-rosetta/test/translations/structs/var_new_class_known_struct.py
  packages/jsii-rosetta/test/translations/structs/var_new_class_known_struct.ts
  packages/jsii-rosetta/test/translations/structs/var_new_class_unknown_struct.cs
  packages/jsii-rosetta/test/translations/structs/var_new_class_unknown_struct.py
  packages/jsii-rosetta/test/translations/structs/var_new_class_unknown_struct.ts
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                               @aws/aws-cdk-team

# DotNet Code
*.cs                            @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
*.csproj                        @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
*.sln                           @aws/aws-cdk-team @aws/aws-sdk-dotnet-team

# Java Code
*.java                          @aws/aws-cdk-team @bmaizels
pom.xml                         @aws/aws-cdk-team @bmaizels
