Repository aws/jsii, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-cdk-team, @RomainMuller, @MrArnoldPalmer

fix(reflect): failure to load assembly from "npm pack" (#1117)
  packages/jsii-reflect/lib/type-system.ts
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

fix(rosetta): "Rosetta configured for live conversion to undefined"
  packages/jsii-rosetta/lib/rosetta.ts
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

fix(rosetta): "Rosetta configured for live conversion to undefined" (#1120)
  packages/jsii-rosetta/lib/rosetta.ts
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

release: v0.20.11
  packages/@jsii/ruby-runtime/project/Gemfile.lock
  packages/@scope/jsii-calc-base-of-base/test/assembly.jsii
  packages/@scope/jsii-calc-base/package.json
  packages/@scope/jsii-calc-base/test/assembly.jsii
  packages/@scope/jsii-calc-lib/package.json
  packages/@scope/jsii-calc-lib/test/assembly.jsii
  packages/jsii-calc/package.json
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/dotnet/Amazon.JSII.Tests.CalculatorPackageId.BaseOfBasePackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/dotnet/Amazon.JSII.Tests.CalculatorPackageId.BaseOfBasePackageId/Amazon.JSII.Tests.CalculatorPackageId.BaseOfBasePackageId.csproj
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/dotnet/Amazon.JSII.Tests.CalculatorPackageId.BaseOfBasePackageId/AssemblyInfo.cs
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/java/pom.xml
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/java/src/main/java/software/amazon/jsii/tests/calculator/baseofbase/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/python/src/scope/jsii_calc_base_of_base/__init__.py
  packages/jsii-pacmak/test/expected.jsii-calc-base/dotnet/Amazon.JSII.Tests.CalculatorPackageId.BasePackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc-base/dotnet/Amazon.JSII.Tests.CalculatorPackageId.BasePackageId/Amazon.JSII.Tests.CalculatorPackageId.BasePackageId.csproj
  packages/jsii-pacmak/test/expected.jsii-calc-base/dotnet/Amazon.JSII.Tests.CalculatorPackageId.BasePackageId/AssemblyInfo.cs
  packages/jsii-pacmak/test/expected.jsii-calc-base/java/pom.xml
  packages/jsii-pacmak/test/expected.jsii-calc-base/java/src/main/java/software/amazon/jsii/tests/calculator/base/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc-base/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc-base/python/src/scope/jsii_calc_base/__init__.py
  packages/jsii-pacmak/test/expected.jsii-calc-lib/dotnet/Amazon.JSII.Tests.CalculatorPackageId.LibPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc-lib/dotnet/Amazon.JSII.Tests.CalculatorPackageId.LibPackageId/Amazon.JSII.Tests.CalculatorPackageId.LibPackageId.csproj
  packages/jsii-pacmak/test/expected.jsii-calc-lib/dotnet/Amazon.JSII.Tests.CalculatorPackageId.LibPackageId/AssemblyInfo.cs
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/pom.xml
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/src/main/java/software/amazon/jsii/tests/calculator/lib/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc-lib/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc-lib/python/src/scope/jsii_calc_lib/__init__.py
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon.JSII.Tests.CalculatorPackageId.csproj
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/AssemblyInfo.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/pom.xml
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

test updates
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/dotnet/Amazon.JSII.Tests.CalculatorPackageId.BaseOfBasePackageId/scope-jsii-calc-base-of-base-0.20.11.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/java/src/main/resources/software/amazon/jsii/tests/calculator/baseofbase/jsii-calc-base-of-base@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/js/jsii-calc-base-of-base@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/python/src/scope/jsii_calc_base_of_base/_jsii/jsii-calc-base-of-base@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-base/dotnet/Amazon.JSII.Tests.CalculatorPackageId.BasePackageId/scope-jsii-calc-base-0.20.11.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-base/java/src/main/resources/software/amazon/jsii/tests/calculator/base/jsii-calc-base@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-base/js/jsii-calc-base@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-base/python/src/scope/jsii_calc_base/_jsii/jsii-calc-base@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-lib/dotnet/Amazon.JSII.Tests.CalculatorPackageId.LibPackageId/scope-jsii-calc-lib-0.20.11.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/src/main/resources/software/amazon/jsii/tests/calculator/lib/jsii-calc-lib@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-lib/js/jsii-calc-lib@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc-lib/python/src/scope/jsii_calc_lib/_jsii/jsii-calc-lib@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/jsii-calc-0.20.11.tgz
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/resources/software/amazon/jsii/tests/calculator/jsii-calc@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc/js/jsii-calc@0.20.11.jsii.tgz
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/_jsii/jsii-calc@0.20.11.jsii.tgz
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

chore: drop deprecated packages
  packages/jsii-kernel/.gitignore
  packages/jsii-kernel/.npmignore
  packages/jsii-kernel/CHANGELOG.md
  packages/jsii-kernel/LICENSE
  packages/jsii-kernel/NOTICE
  packages/jsii-kernel/README.md
  packages/jsii-kernel/lib/index.ts
  packages/jsii-kernel/package.json
  packages/jsii-kernel/tsconfig.json
  packages/jsii-runtime/.gitignore
  packages/jsii-runtime/.npmignore
  packages/jsii-runtime/CHANGELOG.md
  packages/jsii-runtime/LICENSE
  packages/jsii-runtime/NOTICE
  packages/jsii-runtime/README.md
  packages/jsii-runtime/bin/jsii-runtime
  packages/jsii-runtime/lib/index.ts
  packages/jsii-runtime/package.json
  packages/jsii-runtime/tsconfig.json
  packages/jsii-spec/.gitignore
  packages/jsii-spec/.npmignore
  packages/jsii-spec/CHANGELOG.md
  packages/jsii-spec/LICENSE
  packages/jsii-spec/NOTICE
  packages/jsii-spec/lib/index.ts
  packages/jsii-spec/package.json
  packages/jsii-spec/tsconfig.json
Owners: @aws/aws-cdk-team, @RomainMuller, @MrArnoldPalmer

chore: use pr-status/ready-to-merge instead of ready-to-merge
  .mergify.yml
Owners: @aws/aws-cdk-team

fix linter offenses
  packages/jsii-pacmak/lib/targets/dotnet/dotnetdocgenerator.ts
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

chore: drop deprecated packages (#1126)
  packages/jsii-kernel/.gitignore
  packages/jsii-kernel/.npmignore
  packages/jsii-kernel/CHANGELOG.md
  packages/jsii-kernel/LICENSE
  packages/jsii-kernel/NOTICE
  packages/jsii-kernel/README.md
  packages/jsii-kernel/lib/index.ts
  packages/jsii-kernel/package.json
  packages/jsii-kernel/tsconfig.json
  packages/jsii-runtime/.gitignore
  packages/jsii-runtime/.npmignore
  packages/jsii-runtime/CHANGELOG.md
  packages/jsii-runtime/LICENSE
  packages/jsii-runtime/NOTICE
  packages/jsii-runtime/README.md
  packages/jsii-runtime/bin/jsii-runtime
  packages/jsii-runtime/lib/index.ts
  packages/jsii-runtime/package.json
  packages/jsii-runtime/tsconfig.json
  packages/jsii-spec/.gitignore
  packages/jsii-spec/.npmignore
  packages/jsii-spec/CHANGELOG.md
  packages/jsii-spec/LICENSE
  packages/jsii-spec/NOTICE
  packages/jsii-spec/lib/index.ts
  packages/jsii-spec/package.json
  packages/jsii-spec/tsconfig.json
Owners: @aws/aws-cdk-team, @RomainMuller, @MrArnoldPalmer

fix(java,dotnet): abstract properties have concrete implementations
  packages/jsii-pacmak/lib/targets/dotnet/dotnetgenerator.ts
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/test/expected.jsii-calc-lib/dotnet/Amazon.JSII.Tests.CalculatorPackageId.LibPackageId/Amazon/JSII/Tests/CalculatorNamespace/LibNamespace/Value_.cs
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/src/main/java/software/amazon/jsii/tests/calculator/lib/Value.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/AbstractClassBase.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/composition/CompositeOperation.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/AbstractClassBase.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/composition/CompositeOperation.java
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

Implement optional method parameters in Java translation by generating overloads.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/calls/declaring_default_arguments.java
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

Handle overloaded constructors in Java translations.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/classes/constructor_with_optional_params.java
  packages/jsii-rosetta/test/translations/classes/constructor_with_optional_params.ts
Owners: @aws/aws-cdk-team, @MrArnoldPalmer

add some test coverage
  packages/@jsii/dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/@jsii/dotnet-runtime/src/Amazon.JSII.Runtime/CallbackExtensions.cs
  packages/@jsii/java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/@jsii/python-runtime/tests/test_compliance.py
  packages/jsii-calc/lib/calculator.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/AbstractSuite.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/AbstractSuiteProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/AbstractSuite.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @MrArnoldPalmer, @RomainMuller

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                               @aws/aws-cdk-team
/packages/jsii-kernel           @aws/aws-cdk-team @RomainMuller
/packages/jsii                  @aws/aws-cdk-team @RomainMuller
/packages/@jsii/runtime         @aws/aws-cdk-team @MrArnoldPalmer
/packages/@jsii/kernel          @aws/aws-cdk-team @RomainMuller
/packages/@jsii/dotnet*         @aws/aws-cdk-team @MrArnoldPalmer
/packages/@jsii/java*           @aws/aws-cdk-team @RomainMuller
/packages/@jsii/python*         @aws/aws-cdk-team @MrArnoldPalmer
/pacakges/jsii-diff             @aws/aws-cdk-team @MrArnoldPalmer
/packages/jsii-runtime          @aws/aws-cdk-team @MrArnoldPalmer
/packages/jsii-reflect          @aws/aws-cdk-team @MrArnoldPalmer
/packages/jsii-rosetta          @aws/aws-cdk-team @MrArnoldPalmer
/packages/jsii-spec             @aws/aws-cdk-team @MrArnoldPalmer
/packages/jsii-pacmak           @aws/aws-cdk-team @MrArnoldPalmer
/packages/codemaker             @aws/aws-cdk-team @MrArnoldPalmer
