Repository aws/jsii, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

chore(deps): update Microsoft.Extensions.DependencyInjection to 3.0.1
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Amazon.JSII.Runtime.csproj
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

chore(deps): update Microsoft.Extensions.DependencyInjection to 3.0.1 (#1065)
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Amazon.JSII.Runtime.csproj
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

chore: further simplify dependabot configuration
  .dependabot/config.yml
Owners: @aws/aws-cdk-team

Revert "chore: further simplify dependabot configuration"
  .dependabot/config.yml
Owners: @aws/aws-cdk-team

Revert "chore: further simplify dependabot configuration" (#1069)
  .dependabot/config.yml
Owners: @aws/aws-cdk-team

fix(java): remove Jackson confusion with certain patterns
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiObjectMapper.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJackson.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJackson.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJacksonStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix(dotnet/roslyn): analyzer target framework
  packages/jsii-dotnet-analyzers/src/Amazon.JSII.Analyzers/Amazon.JSII.Analyzers.csproj
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

fix(dotnet/roslyn): analyzer target framework (#1071)
  packages/jsii-dotnet-analyzers/src/Amazon.JSII.Analyzers/Amazon.JSII.Analyzers.csproj
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

fix(java): remove Jackson confusion with certain patterns (#1070)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiObjectMapper.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJackson.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJackson.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJacksonStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

improve documentation & test coverage
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiEngine.java
  packages/jsii-pacmak/lib/targets/python.ts
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc-base/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc-lib/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc/python/setup.py
  packages/jsii-python-runtime/setup.py
  packages/jsii-python-runtime/src/jsii/_kernel/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fixup
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
Owners: @aws/aws-cdk-team, @bmaizels

inline-fy doc
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiEngine.java
Owners: @aws/aws-cdk-team, @bmaizels

feat(jsii): switch to disable reserved words warnings
  packages/jsii-calc/package.json
  packages/jsii/bin/jsii.ts
  packages/jsii/lib/assembler.ts
  packages/jsii/lib/compiler.ts
Owners: @aws/aws-cdk-team

remove spurious 'final'
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
Owners: @aws/aws-cdk-team, @bmaizels

Add missing fget
  packages/jsii-python-runtime/src/jsii/_kernel/__init__.py
Owners: @aws/aws-cdk-team

make sure tsconfig.json and *.tsbuildinfo is in .npmignore
  packages/jsii-calc-base-of-base/.npmignore
  packages/jsii-calc-base/.npmignore
  packages/jsii-calc-lib/.npmignore
  packages/jsii-calc/.npmignore
  packages/jsii-dotnet-analyzers/.npmignore
  packages/jsii-java-runtime-test/.npmignore
  packages/jsii-java-runtime/.npmignore
  packages/jsii-rosetta/.npmignore
Owners: @aws/aws-cdk-team

add type annotation to make MyPy happy
  packages/jsii-python-runtime/src/jsii/_kernel/__init__.py
Owners: @aws/aws-cdk-team

Multi-line 'if' statement works already, as it turns out.
  packages/jsii-rosetta/test/translations/statements/multiline_if_then_else.java
Owners: @aws/aws-cdk-team, @bmaizels

As does an empty control block.
  packages/jsii-rosetta/test/translations/statements/empty_control_block.java
Owners: @aws/aws-cdk-team, @bmaizels

As does a block without braces.
  packages/jsii-rosetta/test/translations/statements/block_without_braces.java
Owners: @aws/aws-cdk-team, @bmaizels

As do the whitespace inside statement blocks.
  packages/jsii-rosetta/test/translations/statements/whitespace_between_statements.java
  packages/jsii-rosetta/test/translations/statements/whitespace_between_statements_in_a_block.java
Owners: @aws/aws-cdk-team, @bmaizels

Update broken jsii-calc-lib tests.
  packages/jsii-calc-lib/test/assembly.jsii
Owners: @aws/aws-cdk-team

Update broken jsii-calc tests.
  packages/jsii-calc/test/assembly.jsii
Owners: @aws/aws-cdk-team

Handle Python Dependency Versions Correctly
  packages/jsii-pacmak/lib/targets/python.ts
  packages/jsii-pacmak/package.json
  packages/jsii-pacmak/test/expected.jsii-calc-base/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc-lib/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc/python/setup.py
Owners: @aws/aws-cdk-team

Handle for-of loops in Java.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/statements/for_of_loop.java
Owners: @aws/aws-cdk-team, @bmaizels

Handle full imports in Java.
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/imports/import_require.java
Owners: @aws/aws-cdk-team, @bmaizels

We get 'import * as' in Java for free.
  packages/jsii-rosetta/test/translations/imports/import_star_as.java
Owners: @aws/aws-cdk-team, @bmaizels

Handle selective imports in Java (but without renaming).
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/imports/selective_import.java
Owners: @aws/aws-cdk-team, @bmaizels

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                               @aws/aws-cdk-team

# DotNet Code
*.cs                            @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
*.csproj                        @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
*.sln                           @aws/aws-cdk-team @aws/aws-sdk-dotnet-team

# Java Code
*.java                          @aws/aws-cdk-team @bmaizels
pom.xml                         @aws/aws-cdk-team @bmaizels
