Repository aws/jsii, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                               @aws/aws-cdk-team

# DotNet Code
*.cs                            @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
*.csproj                        @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
*.sln                           @aws/aws-cdk-team @aws/aws-sdk-dotnet-team

# Java Code
*.java                          @aws/aws-cdk-team @bmaizels
pom.xml                         @aws/aws-cdk-team @bmaizels

Missing &&
  packages/jsii-python-runtime/package.json
Owners: @aws/aws-cdk-team

fix(kernel): correctly de-serialize mappings as JSON
  packages/jsii-kernel/lib/serialization.ts
  packages/jsii-kernel/test/kernel.test.ts
Owners: @aws/aws-cdk-team

enrich mapping compliance test
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team

fix(python): pin dependency version to the exact match
  packages/jsii-pacmak/lib/targets/python.ts
  packages/jsii-pacmak/test/expected.jsii-calc-base-of-base/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc-base/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc-lib/python/setup.py
  packages/jsii-pacmak/test/expected.jsii-calc/python/setup.py
Owners: @aws/aws-cdk-team

add comment
  packages/jsii-kernel/lib/serialization.ts
Owners: @aws/aws-cdk-team

enrich java & .NET tests, too
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

chore: add @typescript-eslint/semi rule
  eslint-config.yaml
  packages/codemaker/lib/filebuff.ts
  packages/codemaker/lib/index.ts
  packages/jsii-kernel/test/kernel.test.ts
  packages/jsii-pacmak/bin/jsii-pacmak.ts
  packages/jsii-pacmak/lib/generator.ts
  packages/jsii-runtime/lib/host.ts
  packages/jsii-runtime/lib/in-out.ts
  packages/jsii-runtime/lib/sync-stdio.ts
Owners: @aws/aws-cdk-team

fix(kernel): correctly de-serialize mappings as JSON (#968)
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-kernel/lib/serialization.ts
  packages/jsii-kernel/test/kernel.test.ts
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix(kernel): correctly de-serialize mappings as JSON (#968)
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-kernel/lib/serialization.ts
  packages/jsii-kernel/test/kernel.test.ts
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix(python): correctly handle nested structs-as-dict
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-kernel/lib/serialization.ts
  packages/jsii-pacmak/lib/targets/python.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/INestedStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IRootStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/NestedStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/NestedStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStructValidator.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/NestedStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/RootStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/RootStructValidator.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

add None explicit test
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team

fix(python): correctly handle nested structs-as-dict (#973)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-kernel/lib/serialization.ts
  packages/jsii-pacmak/lib/targets/python.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/INestedStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IRootStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/NestedStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/NestedStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStructValidator.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/NestedStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/RootStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/RootStructValidator.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix(python): correctly handle nested structs-as-dict (#973)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-kernel/lib/serialization.ts
  packages/jsii-pacmak/lib/targets/python.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/INestedStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IRootStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/NestedStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/NestedStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/RootStructValidator.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/NestedStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/RootStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/RootStructValidator.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

chore: add @typescript-eslint/semi rule (#970)
  eslint-config.yaml
  packages/codemaker/lib/filebuff.ts
  packages/codemaker/lib/index.ts
  packages/jsii-kernel/test/kernel.test.ts
  packages/jsii-pacmak/bin/jsii-pacmak.ts
  packages/jsii-pacmak/lib/generator.ts
  packages/jsii-runtime/lib/host.ts
  packages/jsii-runtime/lib/in-out.ts
  packages/jsii-runtime/lib/sync-stdio.ts
Owners: @aws/aws-cdk-team

Fix pacmak unified build sanity
  packages/jsii-pacmak/lib/builder.ts
  packages/jsii-pacmak/lib/targets/dotnet.ts
  packages/jsii-pacmak/lib/targets/dotnet/filegenerator.ts
  packages/jsii-pacmak/lib/targets/index.ts
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/lib/util.ts
  packages/jsii-rosetta/bin/jsii-rosetta.ts
  packages/jsii-rosetta/lib/commands/extract.ts
Owners: @aws/aws-cdk-team

Render HTML comments as-is
  packages/jsii-rosetta/lib/markdown/markdown-renderer.ts
  packages/jsii-rosetta/test/markdown/roundtrip.test.ts
Owners: @aws/aws-cdk-team

Add backwards compatible support for literate examples
  packages/jsii-rosetta/lib/fixtures.ts
  packages/jsii-rosetta/lib/jsii/assemblies.ts
  packages/jsii-rosetta/lib/snippet.ts
  packages/jsii-rosetta/lib/translate.ts
  packages/jsii-rosetta/lib/typescript/ts-compiler.ts
  packages/jsii-rosetta/test/jsii/assemblies.test.ts
  packages/jsii/lib/literate.ts
  packages/jsii/test/literate.test.ts
Owners: @aws/aws-cdk-team

Fix dependencies on packages outside the compile set
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-pacmak/bin/jsii-pacmak.ts
  packages/jsii-pacmak/lib/builder.ts
  packages/jsii-pacmak/lib/target.ts
  packages/jsii-pacmak/lib/targets/dotnet.ts
  packages/jsii-pacmak/lib/targets/dotnet/dotnetgenerator.ts
  packages/jsii-pacmak/lib/targets/dotnet/dotnettyperesolver.ts
  packages/jsii-pacmak/lib/targets/dotnet/filegenerator.ts
  packages/jsii-pacmak/lib/targets/index.ts
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/lib/util.ts
Owners: @aws/aws-cdk-team

Use the right output dir for source-only mode
  packages/jsii-pacmak/lib/targets/dotnet.ts
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
Owners: @aws/aws-cdk-team

Add test for different pacmak build modes
  packages/jsii-calc-lib/.npmignore
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/test/build-test.sh
Owners: @aws/aws-cdk-team

initial repro
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-python-runtime/src/jsii/_reference_map.py
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team

fix(python): correctly handle interface declarations on returned objects
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-python-runtime/src/jsii/_reference_map.py
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team

additional tests
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fixup test expectations
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/BaseJsii976.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IReturnJsii976.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IReturnJsii976Proxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/SomeTypeJsii976.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/BaseJsii976.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/IReturnJsii976.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SomeTypeJsii976.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix(python): correctly handle interface declarations on returned objects (#980)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/BaseJsii976.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IReturnJsii976.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IReturnJsii976Proxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/SomeTypeJsii976.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/BaseJsii976.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/IReturnJsii976.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SomeTypeJsii976.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/src/jsii/_reference_map.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Only include existing directories
  packages/jsii-pacmak/lib/targets/dotnet.ts
  packages/jsii-pacmak/lib/util.ts
Owners: @aws/aws-cdk-team

fix(dotnet): allow down-casting to parent interface type
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/Amazon.JSII.Runtime.IntegrationTests.csproj
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Deputy/DeputyBase.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

add python test
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team

Satisfy eslint
  packages/jsii-pacmak/lib/util.ts
Owners: @aws/aws-cdk-team

fix typo
  packages/jsii-python-runtime/tests/test_compliance.py
Owners: @aws/aws-cdk-team

fix(dotnet): allow down-casting to parent interface type (#983)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/Amazon.JSII.Runtime.IntegrationTests.csproj
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Deputy/DeputyBase.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ChildStruct982.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ChildStruct982Proxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/Demonstrate982.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IChildStruct982.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IParentStruct982.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ParentStruct982.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ParentStruct982Proxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ChildStruct982.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/Demonstrate982.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ParentStruct982.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

chore: move semantic.yaml to .github/
  .github/semantic.yaml
Owners: @aws/aws-cdk-team

Handle @ signs in examples
  packages/jsii/lib/docs.ts
  packages/jsii/test/docs.test.ts
Owners: @aws/aws-cdk-team

Satisfy eslint
  packages/jsii/lib/docs.ts
  packages/jsii/test/docs.test.ts
Owners: @aws/aws-cdk-team

Don't report diagnostics originating from hidden source
  packages/jsii-rosetta/lib/o-tree.ts
  packages/jsii-rosetta/lib/renderer.ts
  packages/jsii-rosetta/lib/translate.ts
Owners: @aws/aws-cdk-team

chore: update jsii-calc-bundler nohoist
  package.json
Owners: @aws/aws-cdk-team

feat(rosetta): add skeleton of Java snippet translator.
  packages/jsii-rosetta/lib/index.ts
  packages/jsii-rosetta/lib/languages/java.ts
  packages/jsii-rosetta/test/translations/empty_class/EmptyClass.java
  packages/jsii-rosetta/test/translations/empty_class/EmptyClass.py
  packages/jsii-rosetta/test/translations/empty_class/EmptyClass.ts
  packages/jsii-rosetta/test/translations/translations.test.ts
Owners: @aws/aws-cdk-team, @bmaizels

fix(java): handle null-able collections correctly
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/DisappointingCollectionSource.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/DisappointingCollectionSource.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/Statics.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Show AST for all failing tests
  packages/jsii-rosetta/lib/util.ts
  packages/jsii-rosetta/test/translations.test.ts
Owners: @aws/aws-cdk-team

Token start of C#, add instructions on how to selectively run tests
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/test/translations.test.ts
Owners: @aws/aws-cdk-team
