Repository aws/jsii, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Fix some style for comment rendering
  packages/jsii-pacmak/lib/targets/dotnet/dotnetdocgenerator.ts
  packages/jsii-rosetta/lib/markdown/javadoc-renderer.ts
  packages/jsii-rosetta/lib/markdown/markdown-renderer.ts
  packages/jsii-rosetta/lib/markdown/xml-comment-renderer.ts
  packages/jsii-rosetta/test/markdown/javadoc.test.ts
  packages/jsii-rosetta/test/markdown/xmldoccomments.test.ts
Owners: @aws/aws-cdk-team

Fix summary extraction for Vpc construct
  packages/jsii/lib/docs.ts
  packages/jsii/test/docs.test.ts
Owners: @aws/aws-cdk-team

fix(kernel): cannot pass decorated structs as "any"
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Deputy/JsiiByValueAttribute.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Services/Converters/FrameworkToJsiiConverter.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-kernel/lib/serialization.ts
  packages/jsii-kernel/test/kernel.test.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/JsonFormatter.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/JsonFormatter.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Fix struct type derivation if props are optional
  packages/jsii-pacmak/lib/targets/dotnet/dotnetdocgenerator.ts
  packages/jsii-rosetta/bin/jsii-rosetta.ts
  packages/jsii-rosetta/lib/commands/extract.ts
  packages/jsii-rosetta/lib/languages/csharp.ts
  packages/jsii-rosetta/lib/languages/default.ts
  packages/jsii-rosetta/lib/markdown/javadoc-renderer.ts
  packages/jsii-rosetta/lib/typescript/types.ts
  packages/jsii-rosetta/test/translations/structs/optional_known_struct.cs
  packages/jsii-rosetta/test/translations/structs/optional_known_struct.py
  packages/jsii-rosetta/test/translations/structs/optional_known_struct.ts
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

use fqn from struct decoration and delegate to struct deserializer
  packages/jsii-kernel/lib/serialization.ts
Owners: @aws/aws-cdk-team

increase coverage for any ser/deser
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-kernel/test/kernel.test.ts
Owners: @aws/aws-cdk-team

update expectations
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/JsonFormatter.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/JsonFormatter.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

fix eslint issues
  packages/jsii-kernel/test/kernel.test.ts
Owners: @aws/aws-cdk-team

Impove rendering of HTML-like docstrings.
  packages/jsii-rosetta/lib/markdown/javadoc-renderer.ts
  packages/jsii-rosetta/lib/markdown/xml-comment-renderer.ts
Owners: @aws/aws-cdk-team

Emit [EditorBrowseableAttribute()] for internal API members
  packages/jsii-pacmak/lib/targets/dotnet/dotnetgenerator.ts
Owners: @aws/aws-cdk-team

fix(kernel): cannot pass decorated structs to kernel as "any" (#997)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Deputy/JsiiByValueAttribute.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Services/Converters/FrameworkToJsiiConverter.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-kernel/lib/serialization.ts
  packages/jsii-kernel/test/kernel.test.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/JsonFormatter.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/JsonFormatter.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Revert "fix(java): remove Jackson confusion with certain patterns (#987)"
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiObjectMapper.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJackson.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJackson.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJacksonStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Revert "fix(java): remove Jackson confusion with certain patterns (#987)" (#999)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiObjectMapper.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJackson.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConfusingToJacksonStructProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IConfusingToJacksonStruct.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJackson.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConfusingToJacksonStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

feat(jsii-config): introducing jsii-config (#981)
  docs/configuration.md
  packages/jsii-config/.eslintrc.yaml
  packages/jsii-config/.gitignore
  packages/jsii-config/.npmignore
  packages/jsii-config/LICENSE
  packages/jsii-config/README.md
  packages/jsii-config/bin/jsii-config
  packages/jsii-config/bin/jsii-config.ts
  packages/jsii-config/demo.gif
  packages/jsii-config/lib/index.ts
  packages/jsii-config/lib/prompt.ts
  packages/jsii-config/lib/questions.ts
  packages/jsii-config/lib/schema.ts
  packages/jsii-config/lib/util.ts
  packages/jsii-config/lib/validate.ts
  packages/jsii-config/package.json
  packages/jsii-config/test/index.test.ts
  packages/jsii-config/test/util.ts
  packages/jsii-config/tsconfig.json
  packages/jsii-spec/lib/configuration.ts
  packages/jsii-spec/lib/index.ts
  yarn.lock
Owners: @aws/aws-cdk-team

Revert "chore(deps): bump yargs from 14.2.0 to 15.0.1 (#998)"
  packages/jsii-config/package.json
  packages/jsii-diff/package.json
  packages/jsii-pacmak/package.json
  packages/jsii-reflect/package.json
  packages/jsii-rosetta/package.json
  packages/jsii/package.json
  yarn.lock
Owners: @aws/aws-cdk-team

Revert "chore(deps-dev): bump @typescript-eslint/parser from 2.7.0 to 2.8.0 (#1000)"
  package.json
  packages/codemaker/package.json
  packages/jsii-config/package.json
  packages/jsii-diff/package.json
  packages/jsii-kernel/package.json
  packages/jsii-pacmak/package.json
  packages/jsii-reflect/package.json
  packages/jsii-runtime/package.json
  packages/jsii-spec/package.json
  packages/jsii/package.json
  packages/oo-ascii-tree/package.json
  yarn.lock
Owners: @aws/aws-cdk-team

chore: ignore jsii-calc and @scope/* in package.sh
  scripts/package.sh
Owners: @aws/aws-cdk-team

chore: ignore jsii-calc and @scope/* in package.sh (#1008)
  scripts/package.sh
Owners: @aws/aws-cdk-team

chore(rosetta): remove 'commonmark' from public API
  packages/jsii-rosetta/lib/markdown/extract-snippets.ts
  packages/jsii-rosetta/lib/markdown/replace-code-renderer.ts
  packages/jsii-rosetta/lib/markdown/replace-typescript-transform.ts
  packages/jsii-rosetta/lib/markdown/types.ts
  packages/jsii-rosetta/lib/rosetta.ts
Owners: @aws/aws-cdk-team

fix(python): correctly handle structs out of callbacks
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/ComplianceTest.java
  packages/jsii-java-runtime-test/project/src/test/java/software/amazon/jsii/testing/JsiiClientTest.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiClient.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/JsiiEngine.java
  packages/jsii-java-runtime/project/src/main/java/software/amazon/jsii/api/CreateRequest.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ConsumePureInterface.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IStructReturningDelegate.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/IStructReturningDelegateProxy.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/$Module.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConsumePureInterface.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/IStructReturningDelegate.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-python-runtime/src/jsii/_kernel/__init__.py
  packages/jsii-python-runtime/tests/test_compliance.py
  packages/jsii-reflect/test/__snapshots__/jsii-tree.test.js.snap
  packages/jsii-reflect/test/__snapshots__/type-system.test.js.snap
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

chore(rosetta): remove 'commonmark' from public API (#1010)
  packages/jsii-rosetta/lib/markdown/extract-snippets.ts
  packages/jsii-rosetta/lib/markdown/replace-code-renderer.ts
  packages/jsii-rosetta/lib/markdown/replace-typescript-transform.ts
  packages/jsii-rosetta/lib/markdown/types.ts
  packages/jsii-rosetta/lib/rosetta.ts
Owners: @aws/aws-cdk-team

fix: Move jsii-spec to Dependencies
  packages/jsii-config/package.json
Owners: @aws/aws-cdk-team

fix: Move jsii-spec to Dependencies (#1032)
  packages/jsii-config/package.json
Owners: @aws/aws-cdk-team

chore: add missing translation disclaimers for Java and C#
  packages/jsii-calc/lib/calculator.ts
  packages/jsii-pacmak/lib/targets/dotnet/dotnetdocgenerator.ts
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/lib/targets/python.ts
  packages/jsii-pacmak/lib/util.ts
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/src/main/java/software/amazon/jsii/tests/calculator/lib/IFriendly.java
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/src/main/java/software/amazon/jsii/tests/calculator/lib/IThreeLevelsInterface.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/Calculator.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ClassWithDocs.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/AllTypes.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/AsyncVirtualMethods.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/Calculator.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ClassWithDocs.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConsumerCanRingBell.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/Demonstrate982.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/DisappointingCollectionSource.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/DocumentedClass.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/EraseUndefinedHashValues.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/LoadBalancedFargateServiceProps.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/RootStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SingleInstanceTwoTypes.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SingletonInt.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SingletonString.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/StaticContext.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SupportsNiceJavaBuilderProps.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/VoidCallback.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/package-info.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
Owners: @aws/aws-cdk-team, @bmaizels, @aws/aws-sdk-dotnet-team

Rephrase disclaimer to indicate TypeScript explicitly.
  packages/jsii-pacmak/lib/targets/dotnet/dotnetdocgenerator.ts
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/Calculator.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/Calculator.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ClassWithDocs.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/package-info.java
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team, @bmaizels

Update assembly expectation
  packages/jsii-calc/test/assembly.jsii
Owners: @aws/aws-cdk-team

chore: add missing translation disclaimers for Java and C# (#1039)
  packages/jsii-calc/lib/calculator.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-pacmak/lib/targets/dotnet/dotnetdocgenerator.ts
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/lib/targets/python.ts
  packages/jsii-pacmak/lib/util.ts
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/src/main/java/software/amazon/jsii/tests/calculator/lib/IFriendly.java
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/src/main/java/software/amazon/jsii/tests/calculator/lib/IThreeLevelsInterface.java
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/Calculator.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/ClassWithDocs.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/AllTypes.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/AsyncVirtualMethods.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/Calculator.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ClassWithDocs.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/ConsumerCanRingBell.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/Demonstrate982.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/DisappointingCollectionSource.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/DocumentedClass.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/EraseUndefinedHashValues.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/LoadBalancedFargateServiceProps.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/RootStruct.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SingleInstanceTwoTypes.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SingletonInt.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SingletonString.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/StaticContext.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/SupportsNiceJavaBuilderProps.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/VoidCallback.java
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/package-info.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
Owners: @aws/aws-cdk-team, @bmaizels, @aws/aws-sdk-dotnet-team

fix: Allow Missing Dotnet Version Suffix
  docs/configuration.md
  packages/jsii-config/README.md
  packages/jsii-config/bin/jsii-config.ts
  packages/jsii-config/lib/prompt.ts
  packages/jsii-config/lib/schema.ts
  packages/jsii-config/lib/util.ts
  packages/jsii-config/test/index.test.ts
Owners: @aws/aws-cdk-team

Revert "chore(deps): bump Microsoft.Extensions.DependencyInjection (#1023)"
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Amazon.JSII.Runtime.csproj
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

Revert "chore(deps): bump yargs from 15.0.1 to 15.0.2 (#1004)"
  packages/jsii-config/package.json
  packages/jsii-diff/package.json
  packages/jsii-pacmak/package.json
  packages/jsii-reflect/package.json
  packages/jsii-rosetta/package.json
  packages/jsii/package.json
  yarn.lock
Owners: @aws/aws-cdk-team

Revert "chore(deps-dev): bump @typescript-eslint/eslint-plugin (#1001)"
  package.json
  packages/codemaker/package.json
  packages/jsii-config/package.json
  packages/jsii-diff/package.json
  packages/jsii-kernel/package.json
  packages/jsii-pacmak/package.json
  packages/jsii-reflect/package.json
  packages/jsii-runtime/package.json
  packages/jsii-spec/package.json
  packages/jsii/package.json
  packages/oo-ascii-tree/package.json
  yarn.lock
Owners: @aws/aws-cdk-team

Revert "chore(deps-dev): bump eslint from 6.6.0 to 6.7.0 (#1048)"
  package.json
  packages/codemaker/package.json
  packages/jsii-config/package.json
  packages/jsii-diff/package.json
  packages/jsii-kernel/package.json
  packages/jsii-pacmak/package.json
  packages/jsii-reflect/package.json
  packages/jsii-runtime/package.json
  packages/jsii-spec/package.json
  packages/jsii/package.json
  packages/oo-ascii-tree/package.json
  yarn.lock
Owners: @aws/aws-cdk-team

Revert "chore(deps-dev): bump @typescript-eslint/parser from 2.7.0 to 2.8.0 (#1014)"
  package.json
  packages/codemaker/package.json
  packages/jsii-config/package.json
  packages/jsii-diff/package.json
  packages/jsii-kernel/package.json
  packages/jsii-pacmak/package.json
  packages/jsii-reflect/package.json
  packages/jsii-runtime/package.json
  packages/jsii-spec/package.json
  packages/jsii/package.json
  packages/oo-ascii-tree/package.json
  yarn.lock
Owners: @aws/aws-cdk-team

Revert "chore(deps): bump log4js from 6.0.0 to 6.1.0 (#1033)"
  packages/jsii-diff/package.json
  packages/jsii/package.json
  yarn.lock
Owners: @aws/aws-cdk-team

Revert "chore(deps-dev): bump lerna from 3.18.4 to 3.19.0 (#1046)"
  package.json
  yarn.lock
Owners: @aws/aws-cdk-team

fix: Allow Missing Dotnet Version Suffix (#1047)
  docs/configuration.md
  packages/jsii-config/README.md
  packages/jsii-config/bin/jsii-config.ts
  packages/jsii-config/lib/prompt.ts
  packages/jsii-config/lib/schema.ts
  packages/jsii-config/lib/util.ts
  packages/jsii-config/test/index.test.ts
Owners: @aws/aws-cdk-team

chore: update dependabot config to match with new label names
  .dependabot/config.yml
Owners: @aws/aws-cdk-team

chore: update dependabot config to match with new label names (#1061)
  .dependabot/config.yml
Owners: @aws/aws-cdk-team

de-duplicate Dependabot configuration for dotnet projects (use solution instead)
  .dependabot/config.yml
Owners: @aws/aws-cdk-team

chore(deps): update Microsoft.Extensions.Logging.* dependencies (#1062)
  .dependabot/config.yml
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/Amazon.JSII.Runtime.IntegrationTests.csproj
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Amazon.JSII.Runtime.csproj
Owners: @aws/aws-cdk-team, @aws/aws-sdk-dotnet-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                               @aws/aws-cdk-team

# DotNet Code
*.cs                            @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
*.csproj                        @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
*.sln                           @aws/aws-cdk-team @aws/aws-sdk-dotnet-team

# Java Code
*.java                          @aws/aws-cdk-team @bmaizels
pom.xml                         @aws/aws-cdk-team @bmaizels
