Repository aws/jsii, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-cdk-team, @assyadh, @costleya, @bmaizels, @garnaat

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                               @aws/aws-cdk-team
/packages/*-dotnet-*/           @aws/aws-cdk-team @assyadh @costleya
/packages/*-java-*/             @aws/aws-cdk-team @bmaizels
/packages/*-python-*/           @aws/aws-cdk-team @garnaat

improve git change detection
  .travis.yml
Owners: @aws/aws-cdk-team

Update .travis.yml
  .travis.yml
Owners: @aws/aws-cdk-team

feat(superchain): add `mono` toolchain (#687)
  .travis.yml
  superchain/Dockerfile
  superchain/README.md
  superchain/gpg/mono.asc
Owners: @aws/aws-cdk-team

chore: reduce layer count in superchain image
  superchain/Dockerfile
Owners: @aws/aws-cdk-team

Variadic support in the .NET runtime
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Deputy/DeputyBase.cs
Owners: @aws/aws-cdk-team, @assyadh, @costleya

fix(dotnet): stop mutating Dictionary when iterating on it
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/CallbackExtensions.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/DataRenderer.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/DataRenderer.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-pacmak/test/expected.jsii-calc/sphinx/jsii-calc.rst
  packages/jsii-reflect/test/jsii-tree.test.all.expected.txt
  packages/jsii-reflect/test/jsii-tree.test.members.expected.txt
Owners: @aws/aws-cdk-team, @assyadh, @costleya

Adding a compliance test for the variadic and optional parameters support in .NET
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
Owners: @aws/aws-cdk-team, @assyadh, @costleya

Added mergify config
  .github/ISSUE_TEMPLATE/3-question.md
  .mergify.yml
  semantic.yaml
Owners: @aws/aws-cdk-team

fix(dotnet): stop mutating Dictionary when iterating on it (#691)
  packages/jsii-calc/lib/compliance.ts
  packages/jsii-calc/test/assembly.jsii
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/CallbackExtensions.cs
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/.jsii
  packages/jsii-pacmak/test/expected.jsii-calc/dotnet/Amazon.JSII.Tests.CalculatorPackageId/Amazon/JSII/Tests/CalculatorNamespace/DataRenderer.cs
  packages/jsii-pacmak/test/expected.jsii-calc/java/src/main/java/software/amazon/jsii/tests/calculator/DataRenderer.java
  packages/jsii-pacmak/test/expected.jsii-calc/python/src/jsii_calc/__init__.py
  packages/jsii-pacmak/test/expected.jsii-calc/sphinx/jsii-calc.rst
  packages/jsii-reflect/test/jsii-tree.test.all.expected.txt
  packages/jsii-reflect/test/jsii-tree.test.members.expected.txt
Owners: @aws/aws-cdk-team, @assyadh, @costleya

chore(deps): bump maven-compiler-plugin from 3.6.1 to 3.8.1
  packages/jsii-java-runtime-test/pom.xml.t.js
  packages/jsii-java-runtime/pom.xml.t.js
  packages/jsii-pacmak/lib/targets/java.ts
  packages/jsii-pacmak/test/expected.jsii-calc-base/java/pom.xml
  packages/jsii-pacmak/test/expected.jsii-calc-lib/java/pom.xml
  packages/jsii-pacmak/test/expected.jsii-calc/java/pom.xml
Owners: @aws/aws-cdk-team, @bmaizels

chore: reduce layer count in superchain image (#689)
  superchain/Dockerfile
Owners: @aws/aws-cdk-team

Clean handle of all the variadic params variations, nulls, empty arrays etc..
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
  packages/jsii-dotnet-runtime/src/Amazon.JSII.Runtime/Deputy/DeputyBase.cs
Owners: @aws/aws-cdk-team, @assyadh, @costleya

typo in ComplianceTests.cs - pls build
  packages/jsii-dotnet-runtime-test/test/Amazon.JSII.Runtime.IntegrationTests/ComplianceTests.cs
Owners: @aws/aws-cdk-team, @assyadh, @costleya
